/* CSS for the Create Product page */

/* Body styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f2f2f2;
  }
  
  /* Heading styles */
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form styles */
  form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Label styles */
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
    font-weight: bold;
  }
  
  /* Input styles */
  input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* Submit button styles */
  input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    width: 50%;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: #555;
  }
  div{
    text-align: center;
  }